[submodule "backend"]
	path = backend
	url = https://github.com/PRODavci/backend
[submodule "network-scanner"]
	path = network-scanner
	url = https://github.com/PRODavci/network-scanner
[submodule "frontend"]
	path = frontend
	url = https://github.com/PRODavci/frontend
[submodule "cve-service"]
	path = cve-service
	url = https://github.com/PRODavci/cve-service
